.action_nav_head {
    display: flex;

    .nav-btn {
        transition: all 0.3s ease-in-out;
        width: 10%;
        background-color: var(--sidebar-bg);
        padding: 10px 15px;
        color: #a6a6a6;
    }

    .show {
        background-color: var(--bg-content-color);
        
        h2 {
            color: var(--text-color);
        }
    }
}

.action_nav_body {
    background-color: var(--bg-content-color);
}


/* COMMENT BOX */

.product-avg-ratting {
    margin-bottom: 20px;

    h4 {
        color: var(--text-color);
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 14px;
        margin: 0 0 7px;

        span {
            color: var(--text-color);
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 10px;
        }
    }

    &>span {
        color: var(--text-color);
        display: block;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 10px;
    }
}

.product-comment-box {
    margin-bottom: 40px;

    &::-webkit-scrollbar {
        width: 0.6rem;
    /* chiều rộng rộng 6px */
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        /*màunềncủathanhcuộn*/
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: #fff;
        /* màu nền của thanh cuộn */
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }
}

.product-comment-view {
    padding-right: 5px;
    margin-bottom: 30px;
}

.product-comment-view-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-comment-author {
    span {
        color: var(--text-color);
        font-weight: 700;
        font-size: 1.3rem;
    }
}

.product-comment-time {
    display: flex;

    span {
        color: var(--text-color);
        display: block;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 13px;
        margin-left: 15px;
    }
}

.product-comment-view-title {
    color: var(--text-color);
    font-size: 1.3rem;
}

.comment-form-wrap-box {
    h3 {
        font-size: 1.4rem;
        margin: 0 0 30px;
        color: var(--text-color);
        text-transform: uppercase;
        font-weight: 600;
        line-height: 12px;
    }
}

.comment-form-action {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    label {
        color: var(--text-color);
        display: block;
        font-weight: 700;
        line-height: 12px;
        margin-bottom: 10px;
        text-align: left;
        font-size: 1.4rem;
    }

    & input,
    & textarea {
        background: #fff no-repeat;
        border: 1px solid #eee;
        color: var(--text-item-hover);
        font-size: 1.2rem;
        font-weight: 500;
        height: 44px;
        padding: 5px 12px;
        text-align: left;
        width: 100%;
        margin-bottom: 20px;
    }

    & .input-name-box,
    & .input-email-box {
        flex: 2;
    }

    & .input-comment-box,
    & .input-btnsubmit-box {
        width: 100%;
    }

    & .input-comment-box{
         textarea {
            min-height: 106px;
            outline: none;
        }
    }

}

.item_rating {
    padding: 10px 15px;
}

.item_description {
    padding: 10px 15px;

    p {
        font-size: 1.3rem;
        color: var(--text-color);
    }
}







