.content_wrapper {
    min-height: 100vh;
    display: flex;
    gap: 30px;
    position: relative;
    z-index: 1;
}

.main_container {
    flex: 1;
    padding: 10px;
    display: block;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.none {
    display: none;
}

.background-sideBar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 11;
    background-color: rgba(0,0,0,0.5);
}

@media (max-width: 991px) {
    .background-sideBar {
        display: block;
    }
}