.wrapper {
    margin-bottom: 20px;
    color: var(--text-color);

    .title {
        margin-bottom: 5px;
    }

    .content {
        padding-left: 20px;
        font-size: 1.4rem;
    }
}