.header_wrapper {
     --search-height: 46px;
     --search-top-spacer: 9px;
     --search-button-width: 52px;
     --search-border-radius: 25px;
     --header-hight: 60px;
     width: 100%;
     height: var(--header-hight);
     display: flex;
     padding: 0 20px;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid var(--bg-content-color);
     position: sticky;
     background-color: var(--primary-bg);
     right: 0;
     top: 0;
     z-index: 100;


}

.menu_toggle {
     display: none;
     align-items: center;
     justify-content: center;
     color: var(--text-color);
     font-size: 2rem;
     border-radius: 50%;
     height: 40px;
     width: 40px;

     &:hover {
          background-color: var(--bg-content-color);
     }
}

.box_search_popup {
     display: flex;
     align-items: center;
     transition: 0.5s ease-in-out;

     .close_search {
          display: none !important;
     }

     .search_popup {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;

     }
}

.btn_search {
     display: none;

}


.logo_box {
     min-width: 260px;
     height: 100%;   
     display: flex;
     align-items: center;
     & img {
          width: 50px;
          height: 50px;
          border-radius: 10px;
     }

     & span {
          display: inline-flex;
          padding: 0 10px;
          align-items: center;
     
          & h2{
               color: var(--text-color);
               font-size: 1.7rem;
               
          }
     }
}

.logo_navigate {
     align-items: center;
}

.action_box {
     width: 440px;
     display: flex;
     align-items: center;
     justify-content: space-around;
 
}


/* tablet nomal destop: 992px */
/* tablet && mobile */
@media (max-width: 991px) { 
     .logo_box {
          min-width: 50px;
          .logo_title {
               display: none;
          }
     }

     .action_box {
          width: 300px;
     }

}

/* tablet desktop: 768px */
/* mobile */
@media (max-width: 767px) {

     .menu_toggle {
          display: flex;
     }
}

@media (max-width: 660px) {
     .input_search {
          display: none;

     }
     .btn_search {
          display: flex;
          flex: 1;
          justify-content: right;
     }
     .box_search_popup {
          width: 0;
          opacity: 0;
          visibility: hidden;
          .close_search {
               display: inline-flex !important;
          }
     }
     .show_search_box {
          width: 100% !important;
          position: fixed;
          opacity: 1;
          visibility: visible;
          top: 0;
          left: 0;
          height: var(--header-hight);
          background-color: var(--primary-bg);
          z-index: 20;
          padding: 0 20px;
     
     }
     .action_box {
          width: 250px;
     }
     .theme_action {
          display: none;
     }
}