.header_wrapper {
     --search-height: 46px;
     --search-top-spacer: 9px;
     --search-button-width: 52px;
     --search-border-radius: 25px;

     width: 100%;
     height: 60px;
     display: flex;
     padding: 0 20px;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid var(--bg-content-color);
     position: sticky;
     background-color: var(--primary-bg);
     right: 0;
     top: 0;
     z-index: 100;
}

.switch-mode {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border-radius: 18px;
    overflow: hidden;
}

.switch-checkbox {
   opacity: 0;
   width: 0;
   height: 0;
   &:checked + .change_state_mode{
        background-color: #2196f3
   }
   &:checked + .change_state_mode:before {
        content: "🌑";
        text-align: center;
        line-height: 26px;
        font-size: 2rem;
        transform: translateX(26px);
   }
}

.change_state_mode {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;  
   transition: background-color 0.5s ease-in-out;

   &::before {
        content: "🌞";
        text-align: center;
        line-height: 26px;
        font-size: 2rem;
        position: absolute;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: 0.5s ease-in-out;
   }
}


.logo_box {
     width: 20%;
     height: 100%;   
     display: flex;
     align-items: center;
     & img {
          width: 50px;
          height: 50px;
          border-radius: 10px;
     }

     & span {
          display: inline-flex;
          padding: 0 10px;
          align-items: center;
     
          & h2{
               color: var(--text-color);
               font-size: 1.7rem;
               
          }
     }
}

.logo_navigate {
     align-items: center;
}

.action_box {
     width: 440px;
     display: flex;
     align-items: center;
     justify-content: space-around;

     .current-time {
          font-size: 1.4rem;
          font-weight: 500;

          .time {
               color: var(--text-color);
          }

          .day-state {
               display: inline-block;
               font-size: 2rem;
               animation: textRotate 4s linear infinite;
          }
     }

     .cart_view {
          display: inline-block;
          position: relative;
          .total_item {
               position: absolute;
               display: block;
               width: 20px;
               height: 20px;
               text-align: center;
               line-height: 20px;
               border-radius: 50%;
               background-color: var(--bg-notice);
               color: var(--text-bg);
               top: -5px;
               right: -5px;
          }
     }

     .notification {
          display: inline-block;
          position: relative;
          border-radius: 50%;

          .total_alert {
               position: absolute;
               display: block;
               width: 20px;
               height: 20px;
               text-align: center;
               line-height: 20px;
               border-radius: 50%;
               background-color: var(--bg-notice);
               color: var(--text-bg);
               top: -5px;
               right: -5px;
          }
     }
}

.account {
     width: 181px;
     display: flex;
     align-items: center;
     gap: 10px;
     gap: 10px;
     transition: background-color 0.3s ease-in-out;
     border-radius: 25px;
     padding: 5px;

     & .avatar {
          display: flex;
          align-items: center;
          img {
               width: 40px;
               height: 40px;
               border-radius: 50%;
          }
     }

     & p {
          width: 88px;
          font-size: 1.4rem;
          font-weight: 600;
          color: var(--text-color);
          text-overflow: ellipsis;
          overflow: hidden;
     }

     &:hover {
          background-color: var(--bg-content-color);
     }
}

.menu-list {
     width: 200px;
}

.fix {
     & span:first-child {
          font-size: 2rem;
     }

     & span:nth-child(2) {
          text-align: left;
     }

     & span:nth-child(3) {
          font-size: 2rem;
     }
}

@keyframes textRotate {
     0% {
          transform: rotate(0);
     }
     100% {
          transform: rotate(360deg);
     }
}