.top {
    margin: 20px 0;
}

.item_detail_box {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin: 0 50px;
    gap: 20px;

    .item-picture {
        width: 475px;
    }
}

.item-description {
    flex: 1;

    .item_name {
        display: inline-block;
        font-size: 1.5rem;
        text-transform: uppercase;
        transition: 0.3s ease-in;

        &:hover {
            color: red;
        }
    }

    .item_price {
        font-weight: 500;

    }

    .options_detail {
        display: flex;
        gap: 10px;
        align-items: center;

        & > div {
            flex: 1;
        }
    }
}