.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.content_box {
    width: 90%;
    background-image: linear-gradient(117deg,#5a4be7,#c86dd7 102%);
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;

    .title {
        color: #fff;
        font-size: 1.5rem;
    }

    .action {
        background-color: yellow;
        border-radius: 10px;
        padding: 5px;
        font-family: var(--font-family);
        font-weight: 700;
        margin: 10px 0;

        &:hover {
            background-color: yellowgreen;
        }
    }
}

@media (max-width: 991px) {
    .menu_toggle { 
        display: none;
    }
}

