@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --app-background-color: white;
    --font-family: 'Roboto', sans-serif;
    --bg-content-color: rgba(0, 0, 0, 0.171);
    --border-box: rgba(0,0,0,0.2);
    --border-primary: rgba(0,0,0,0.1);
    --link-text-hover: #9c32ca;
    --modal-scrollbar: rgba(12,3,3,0.8);
    --player-bg: #fff;
    --purple-primary: #6b3483;
    --primary-bg: #fff;
    --sidebar-popup-bg: #f2f2f2;
    --text-color: #32323d;
    --text-item-hover: #a0a0a0;
    --text-secondary: rgba(0,0,0,0.6);
    --navigation-text: #32323d;
    --placeholder-text: #757575;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6 rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;

}

input, button {
    border: none;
    outline: none;
}

.dark_mode {
    --app-background-color: #1e1e1e;
    --bg-content-color: #ffffff1a;
    --border-box: rgb(255 255 255 / 20%);
    --border-primary: rgb(255 255 255 / 10%);
    --link-text-hover: #c662ef;
    --modal-scrollbar: rgba(12,3,3,0.8);
    --player-bg: rgba(0,0,0,0.2);
    --purple-primary: #7200a1;
    --primary-bg: #282828;
    --sidebar-popup-bg: #292929;
    --text-color: #fff;
    --text-item-hover: #a0a0a0;
    --text-secondary: rgb(255 255 255 / 50%);
    --navigation-text: #a0a0a0;
    --placeholder-text: #757575
}

.app {
    background-color: var(--app-background-color);
    transition: background-color 0.5s ease-in-out;
    min-height: 100vh;
}




